body{
  font-family: Arial;
  /* margin: 0;
  padding: 0; */
}

.container{
  display: grid;
  /* grid-template-columns: 25% 50% 25%;
  grid-template-rows: 300px 300px; */
  /* grid-template: 350px 100px 200px / 100px 200px 100px; */
  grid-template: 350px 100px 200px / minmax(200px, 1fr) 1fr 1fr;
  /* grid-template: 350px 100px 200px / 1fr; */
  text-align: center;
  grid-gap: 30px 70px;
}

.item{
  background: blue;
  padding: 10px;
  border: 1px solid red;
}

/* .item:nth-of-type(4){
  background-color: blue;
  overflow: auto;
  display: grid;
  grid-template: 50px 50px 50px / 25% 50% 25%;
} */

.item .item{
  background: lightblue;
}
